@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light scheme */
:root {
  --background: #D9D9D9;
  --background-secondary: #6C6C6C;
  --foreground: #171717;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

/* Dark scheme - disabling it for now */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font: Jaro; */
  margin: 0 auto;
}

button {
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 20%);
}